@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Index</h2>
<a href="/Test/ClearCookies">Clear cookies</a>
<br />
<br />
<a href="/Test/ClearLocalStorage">Clear local storage</a>
<br />
<br />
<a href="/Test/ClearSessionStorage">Clear session storage</a>
<br />
<br />
<a href="/Test/ClearStorage">Clear all storage</a>
<br />
<br />